# Windows image file caches
Thumbs.db
ehthumbs.db

# =========================
# Compiler and Binary files
# =========================
*.o
*.d
*.class
*.bin
*.hex
*.pyc


# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
